<!DOCTYPE html>
<html>
<head>
<title>有赞已支付成功订单</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="../public/css/font-awesome.min.css">
<link rel="stylesheet" href="../public/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../public/css/main.css">
<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.min.js"></script>
<script src="../public/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../public/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/js/common.js"></script>
<script type="text/javascript" src="../public/libs/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="../public/libs/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn" style="height: 84px">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.no" @keyup.enter="query" placeholder="有赞订单号或充值号码">
            </div>
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.wareNo" width="20" @keyup.enter="query" placeholder="商品编号">
            </div>
            <div class="form-group col-sm-2">
                <input id="beginTime" type="text" class="form-control" width="20" @keyup.enter="query" placeholder=起始时间>
            </div>
            <div class="form-group col-sm-2">
                <input id="endTime" type="text" class="form-control" width="20" @keyup.enter="query" placeholder="结束时间">
            </div>
			<div class="form-group col-sm-4">
				<a style="float: right;"  v-if="hasPermission('orderfromyouzan:info')" class="btn btn-primary" @click="getCards"><i class="fa fa-plus"></i>&nbsp;查看卡密</a>
				<a style="float: right;"  class="btn btn-default" @click="query"><i class="fa fa-search">&nbsp;查询</i></a>
				<p style="float:left;margin-top: 8px;">统计金额：</p><p style="margin-top: 8px">{{ totalFee }}</p>
			</div>
		</div>

	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">用于跟外部系统对接的订单号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderFromYouzan.orderNo" placeholder="用于跟外部系统对接的订单号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">有赞订单号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderFromYouzan.youzanOrderId" placeholder="有赞订单号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">订单金额</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderFromYouzan.orderPrice" placeholder="订单金额"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">子订单号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderFromYouzan.subOrderId" placeholder="子订单号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">商品编号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderFromYouzan.wareNo" placeholder="商品编号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">1、充值成功，2、待充值，3、充值中，4、退款成功，-1、失败，待退款，-2、异常，重试中。</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderFromYouzan.status" placeholder="1、充值成功，2、待充值，3、充值中，4、退款成功，-1、失败，待退款，-2、异常，重试中。"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">购买商品的规格信息</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderFromYouzan.formatInfo" placeholder="购买商品的规格信息"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">充值用户相关信息字段</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderFromYouzan.rechargeInfo" placeholder="充值用户相关信息字段"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">订单创建时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderFromYouzan.createTime" placeholder="订单创建时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">开始去卡门平台充值时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderFromYouzan.beginRechargeTime" placeholder="开始去卡门平台充值时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">最后一次去卡门平台请求充值时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="orderFromYouzan.lastRechargeTime" placeholder="最后一次去卡门平台请求充值时间"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary"  value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../public/js/agent/orderfromyouzan.js"></script>
</body>
</html>