<!DOCTYPE html>
<html>
<head>
    <title>商品信息表</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <script src="../public/libs/jquery.min.js"></script>
    <script src="../public/plugins/layer/layer.js"></script>
    <script src="../public/libs/bootstrap.min.js"></script>
    <script src="../public/libs/vue.min.js"></script>
    <script src="../public/plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../public/plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../public/js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <a v-if="hasPermission('warefuluinfo:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a v-if="hasPermission('warefuluinfo:update')" class="btn btn-primary" @click="update"><i
                    class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a v-if="hasPermission('warefuluinfo:delete')" class="btn btn-primary" @click="del"><i
                    class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">商品编号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="wareFuluInfo.outerSkuId"
                           placeholder="商品编号（对应有赞outer_sku_id）"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">商品名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="wareFuluInfo.wareName" placeholder="商品名"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">数量</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="wareFuluInfo.num" placeholder="数量"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">对接平台商品编号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="wareFuluInfo.productId" placeholder="对接平台商品编号"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">对接平台商品批量编号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="wareFuluInfo.productHugeId" placeholder="对接平台商品批量编号"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">提取标识</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="wareFuluInfo.mark" placeholder="充值账号提取标识"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">充值平台选择</div>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="rechargeChannel" value="2" v-model="wareFuluInfo.rechargeChannel"/> 新福禄平台
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="rechargeChannel" value="1" v-model="wareFuluInfo.rechargeChannel"/> 旧卡门平台
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="rechargeChannel" value="3" v-model="wareFuluInfo.rechargeChannel"/> A平台
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">是否卡密商品</div>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="type" value="1" v-model="wareFuluInfo.type"/> 卡密商品
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type" value="2" v-model="wareFuluInfo.type"/> 非卡密商品
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="../public/js/agent/warefuluinfo.js"></script>
</body>
</html>