/*-----banner部分--------*/
.banner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 50;
}

.banner #particles-js {
    height: 74.5%;
    min-width: 1200px;
    position: relative;
}

.game_num {
    position: absolute;
    width: 1100px;
    height: 218px;
    left: 50%;
    top: 50%;
    margin-left: -550px;
    margin-top: -109px;
}

.game_tet {
    width: 1100px;
    height: 218px;
}

.game_tet p {
    width: 1100px;
    height: 108px;
    line-height: 108px;
    font-size: 34px;
    color: #fff;
    text-align: center;
}

.game_tet p .game_span01,
.game_tet p .game_span02 {
    width: 48px;
    height: 64px;
    line-height: 64px;
    display: inline-block;
    text-align: center;
    font-size: 54px;
    font-weight: 600;
    color: #000;
    background: #fff;
}

.down_input {
    height: 88px;
    text-align: center;
    padding-top: 22px;
}

.down_input input {
    width: 258px;
    height: 62px;
    margin: 0 auto;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
	border-radius: 48px;    
    background: #FF9C00;
}

.input_bg {
    width: 260px;
    height: 64px;
    display: inline-block;
    background: url("../images/btn_homepage_nor.png") no-repeat center center;
}

.input_bg:hover {
    background: url(../images/btn_homepage_pre.png) no-repeat center center #666;
}

.qcorder {
    position: absolute;
    width: 110px;
    height: 143px;
    right:85px;
    bottom: 23px;
}

.qcorder>img {
    display: block;
    width: 110px;
    height: 110px;
}

.qcorder>p {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}

/*-----下面6个列表-------*/
.ban_bot {
    position: relative;
    width: 1200px;
    height: 25.5%;
    margin: 0 auto;
}

.ban_bot_con {
    height: 100%;
}

.down_enter {
    width: 50px;
    height: 46px;
    position: absolute;
    top: -46px;
    left: 50%;
    margin-left: -25px;
    cursor: pointer;
    background: #232323 url("../images/down_img.png") no-repeat center center;
}

.ban_con_ul {
    width: 1200px;
    height: 100%;
    background: #ffffff;
}

/*-------用CSS3给列表添加鼠标滑过动画------*/
.ban_con_ul li {  /* 动画时长 */
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

/*======鼠标滑过事件======*/
.ban_con_ul li:hover {
    -webkit-box-shadow: 0 0 10px  #ccc;
    -moz-box-shadow: 0 0 10px  #ccc;
    box-shadow: 0 0 10px  #ccc;
}

.ban_con_ul li:hover .tet {
    border:none;
}

.ban_con_li01 {
    width: 400px;
    height: 50%;
    float: left;
    position: relative;
}

.ban_con_li01 a  {
    display: block;
    height: 100%;
    width: 262px;
    padding:0 0 0 116px;
    background: url("../images/dz_tit.png") no-repeat 50px center;
    float: left;
}

.ban_con_li01 a .tet {
    position: absolute;
    left: 116px;
    top: 50%;
    width: 265px;
    height: 53px;
    margin-top: -31px;
    margin-left: 8px;
    padding-top: 10px;
    padding-right: 10px;
    border-right: 1px solid #e5e5e5;
}

.ban_con_li01 .tet {
    background: url("../images/st_bg.png") no-repeat right top;
}

.ban_con_li03 .tet {
    background: none;
}

.ban_con_li06 .tet {
    background: none;
}

.tet .tet_p01 {
    height: 28px;
    line-height: 28px;
    font-size: 22px;
    margin-bottom: 5px;
    color: #000000;
}

.tet .tet_p02 {
    font-size: 14px;
    color: #999999
}

.ban_con_li02 a {
    background: url("../images/zw_tit.png") no-repeat 50px center;
}

.ban_con_li03 a {
    background: url("../images/sd_tit.png") no-repeat 50px center;
}

.ban_con_li04 a{
    background: url("../images/zq_tit.png") 50px center no-repeat;
}

.ban_con_li05 a{
    background: url("../images/ct_tit.png") 50px center no-repeat;
}

.ban_con_li06 a{
    background: url("../images/bj_tit.png") 50px center no-repeat;
}

.ban_con_li01 .tet {
    width: 258px;
    height: 53px;
}

/*===========上下抖动样式============*/
.ad-activity {
    position: absolute;
    width: 305px;
    height: 245px;
    left: 90px;
    bottom: 78px;
}

.could-left-wrap {
    width: 258px;
    height: 256px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -129px;
    margin-top: -128px;
    z-index: 200;
}

.could-left {
    width: 258px;
    height: 256px;
    opacity: 0;
    -webkit-animation: could-left 6s 1s ease-out infinite;
    animation: could-left 6s 1s ease-out infinite;
    background: url("../images/bg_icon_smallline.png") no-repeat left top;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.could-right-wrap {
    width: 365px;
    height: 322px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -182px;
    margin-top: -161px;
}

.could-right {
    width: 365px;
    height: 322px;
    opacity: 0;
    -webkit-animation:could-right 6s 1s ease-out infinite;
    animation:could-right 6s 1s ease-out infinite;
    background: url("../images/bg_icon_bigline.png") no-repeat left top;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.pop {
    width: 305px;
    height: 245px;
    display: block;
    background: url("../images/bg_icon_actmove.png") no-repeat left top;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: earth 6s 1s ease-out infinite;
    animation: earth 6s 1s ease-out infinite;
    z-index: 999;
}

/*=========上下移动的动画=========*/
@keyframes earth {
    0% { top: 0 }
    2% {  top: -20px; }
    4% { top: 0;}
    6% { top: -15px; }
    8% { top:0; }
    10% { top: -10px; }
    12% { top:0; }
    14% { top: -5px; }
    16% { top: 0; }
    18% { top:-3px; }
    20% { top: 0; }
    100% { top: 0; }
}
/*=====Safari & Chrome======*/
@-webkit-keyframes earth {
    0% { top: 0 }
    2% {  top: -20px; }
    4% { top: 0;}
    6% { top: -15px; }
    8% { top:0; }
    10% { top: -10px; }
    12% { top:0; }
    14% { top: -5px; }
    16% { top: 0; }
    18% { top:-3px; }
    20% { top: 0; }
    100% { top: 0; }
}
/*=====firefox========*/
@-moz-keyframes earth {
    0% { top: 0 }
    2% {  top: -20px; }
    4% { top: 0;}
    6% { top: -15px; }
    8% { top:0; }
    10% { top: -10px; }
    12% { top:0; }
    14% { top: -5px; }
    16% { top: 0; }
    18% { top:-3px; }
    20% { top: 0; }
    100% { top: 0; }
}

@-o-keyframes earth {
    0% { top: 0 }
    2% {  top: -20px; }
    4% { top: 0;}
    6% { top: -15px; }
    8% { top:0; }
    10% { top: -10px; }
    12% { top:0; }
    14% { top: -5px; }
    16% { top: 0; }
    18% { top:-3px; }
    20% { top: 0; }
    100% { top: 0; }
}

@keyframes could-right {
    0% { opacity: 0; }
    30% { opacity: 0; }
    40% { opacity: 1; }
    100% {opacity: 1; }
}

@-webkit-keyframes could-right {
    0% { opacity: 0; }
    30% { opacity: 0; }
    40% { opacity: 1; }
    100% {opacity: 1; }
}

@-moz-keyframes could-right {
    0% { opacity: 0; }
    30% { opacity: 0; }
    40% { opacity: 1; }
    100% {opacity: 1; }
}

@-o-keyframes could-right {
    0% { opacity: 0; }
    30% { opacity: 0; }
    40% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes could-left {
    0% { opacity: 0; }
    20% { opacity: 0; }
    30% { opacity: 1; }
    100% { opacity: 1; }
}

@-webkit-keyframes could-left {
    0% { opacity: 0; }
    20% { opacity: 0; }
    30% { opacity: 1; }
    100% { opacity: 1; }
}

@-moz-keyframes could-left {
    0% { opacity: 0; }
    20% { opacity: 0; }
    30% { opacity: 1; }
    100% { opacity: 1; }
}

@-o-keyframes could-left {
    0% { opacity: 0; }
    20% { opacity: 0; }
    30% { opacity: 1; }
    100% { opacity: 1; }
}

/*------move_wrap 部分------*/
.main_contents {
	width: 100%;
	height: 2053px;
	min-width: 1200px;
	margin: 0 auto;
	background-color: #FFFFFF;
}

.move_wrap {
	position: absolute;
	left: 0;
}

body {
	/*overflow: auto;*/
}

/*--------focus---------*/
.focus_cons {
	width: 1200px;
	height: 400px;
	margin: 40px auto 0 auto;
}

.focus_cons .fo_left {
	position: relative;
	float: left;
	width: 840px;
	height: 400px;
	overflow: hidden;
}

.fo_left ul {
	width: 840px;
	height: 400px;
}

.fo_left ul li { /*先把所有的li隐藏了*/
	position: absolute;
	left: 0;
	top: 0;
	width: 840px;
	height: 400px;
	z-index: 1;
	opacity: 0;
	-ms-filter: alpha(opacity=0);
	filter: alpha(opacity=0);
}

.fo_left li img {
	display: block;
	width: 840px;
	height: 400px;
}

.fo_left ul li.active {
	z-index: 2;
}

.focus_cons .fo_right {
	float: right;
	width: 360px;
	height: 400px;
	background: #232323;
	overflow: hidden;
}

.fo_right li {
	height: 52px;
	padding: 24px 20px;
	cursor: pointer;
	overflow: hidden;
}

.fo_right li h3 {
	line-height: 24px;
	font-size: 18px;
	font-weight: 100;
	margin-bottom: 10px;
	overflow: hidden;
	color: #FFFFFF;
}

.fo_right li p {
	display: none;
	font-size: 14px;
	text-indent: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #FFFFFF;
}

.fo_right li:hover {
	color: #666666;
	background-color: #333333;
	background-position: -120px -120px;
	overflow: hidden;
}

.fo_right li.active {
	color: #666666;
	background-color: #333333;
	background-position: -120px -120px;
	height: 152px;
	overflow: hidden;
}

.right_li_div {
	width: 100%;
	height: 151px;
	overflow: hidden;
}

.focus_cons .fo_right li.active p {
	display: block;
	width: 100%;
	max-height: 110px;
	line-height: 18px;
	white-space: normal;
	overflow: hidden;
	text-overflow: clip;
	-ms-text-overflow: clip;
	letter-spacing: 1px;
}

.focus .right li i.i1 {
	background-position:0 0;
}
.focus .right li i.i2 {
	background-position:0 -60px;
}
.focus .right li i.i3 {
	background-position:0 -120px;
}
.focus .right li i.i4 {
	background-position:0 -180px;
}
.focus .right li:hover i.i1,
.focus .right li.active i.i1 {
	background-position:-60px 0;
}
.focus .right li:hover i.i2,
.focus .right li.active i.i2 {
	background-position:-60px -60px;
}
.focus .right li:hover i.i3,
.focus .right li.active i.i3 {
	background-position:-60px -120px;
}
.focus .right li:hover i.i4,
.focus .right li.active i.i4 {
	background-position:-60px -180px;
}
/*----VR Game list-----*/
.vr_GameList {
	width: 1200px;
	height: 506px;
	margin: 37px auto 0;
}

.vr_GameList .list_title {
	width: 1200px;
	height: 98px;
	line-height: 98px;
	text-align: center;
	font-size: 18px;
	padding-left: 29px;
	margin: auto;
}

.list_title span{
	display: inline-block;
	font-size: 28px;
	height: 98px;
	padding-left: 36px;
	background: url(../images/vr_bg.png) no-repeat left center;
}

.wrap_div {
	position: relative;
	width: 1200px;
	height: 306px;
	overflow: visible;
}

.prev,
.prev a {
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	left: -30px;
	top: 30px;
}

.prev a {
	background: url(../images/bg_prev01.png) no-repeat left top;
}

.prev,
.next {
	float: left;
	padding: 105px 9px 0;
}

.vr_show {
	position: relative;
	width: 1200px;
	height: 285px;
	float: left;
	overflow: hidden;
}

.v_cont {
	width: 6650px;
	position: absolute;
	top: 0;
	left: 0;
}

.v_cont ul {
	float: left;
	text-align: center;
	line-height: 50px;
}

.v_cont ul li {
	width: 390px;
	height: 285px;
	float: left;
	margin-right: 10px;
	cursor: pointer;
}

.v_cont ul li a {
	display: block;
	width: 390px;
	height: 285px;
	overflow: hidden;
}

.img_w {
	width: 390px;
	height: 182px;
	overflow: hidden;
}

.img_w img {
	display: block;
	width: 390px;
	height: 182px;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
}

.img_w:hover img {
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}

.vr_detail {
	width: 390px;
	height: 85px;
	padding-top: 18px;
}

.vr_detail .detail_p1 {
	height: 35px;
	line-height: 35px;
	font-size: 20px;
	text-align: center;
	color: #676767;
}

.vr_detail .detail_p2 {
	height: 45px;
	font-size: 16px;
	text-align: center;
	color: #666666;
}

.detail_p2 i {
	font-size: 30px;
	display: inline-block;
}

.detail_p2 i span.star {
	display: block;
	float: right;
	height: 45px;
	color: #FF9C00;
	font-size: 24px;
	margin-left: 10px;
}

.next,
.next a {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	right: -25px;
	top: 30px;
}

.next a {
	background: url(../images/bg_next01.png) no-repeat left top;
}

/*---分页点---*/
.circle {
	position: absolute;
	right: 10px;
	top: -47px;
	cursor: pointer;
}

.circle li {
	width: 10px;
	height: 10px;
	float: left;
	margin-right: 10px;
	background: url(../images/bg_cricle01.png) no-repeat;
}

.circle li.li-cur {
	background: url(../images/bg_cricle02.png) no-repeat;
}

/*---查看更多---*/
.more_lk,
.more_lk a {
	display: block;
	width: 180px;
	height: 48px;
	margin: 0 auto;
}

.more_lk a {
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	line-height: 48px;
	height: 48px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 48px;
	background-color: #FF9C00;
}

/*---游戏资讯----*/
.news_list {
	height: 555px;
	background: #f5f5f5;
	padding-top: 40px;
	margin-bottom: 52px;
}

.news_list_con {
	width: 1200px;
	height: 555px;
	margin: 0 auto;
}

.news_list .news_tit {
	width: 602px;
	height: 78px;
	line-height: 78px;
	padding-left: 40px;
	font-size: 28px;
	float: left;
	color: #333333;
	background: url(../images/news_bg.png) no-repeat 1px center;
	margin-bottom: 10px;
}

.news_list .news_tit01 {
	width: 518px;
	height: 78px;
	line-height: 78px;
	font-size: 28px;
	padding-left: 40px;
	float: left;
	margin-bottom: 10px;
	background: url(../images/news01_bg.png) no-repeat 1px center;
}
/*-----行业追踪----*/
.news_left {
	width: 642px;
	height: 349px;
	float: left;
	background: url(../images/news_bg_img.png) no-repeat 754px top;
}

.wrap {
	width: 600px;
	height: 349px;
	position: relative;
	float: left;
	border-top: 1px solid #E5E5E5;
}

.slidebox {
	width: 600px;
	position: absolute;
	top: 0;
	left: 0;
	height: 349px;
	overflow: hidden;
}

.slidebox li {
	width: 600px;
	height: 349px;
	overflow: hidden;
	float: left;
}

.screen_a {
	display: block;
	width: 600px;
	height: 99px;
	padding-top: 16px;
	border-bottom: 1px solid #E5E5E5;
}

.screen_a:hover {
	background-color: #FFFFFF;
}

.screen_a dl {
	width: 600px;
	height: 113px;
}

.screen_a dl dt {
	float: left;
	width: 139px;
	height: 80px;
}

.screen_a dl dt img {
	display: block;
	width: 100%;
	height: 100%;
}

.screen_a dl dd {
	float: left;
	width: 448px;
	height: 67px;
	padding: 13px 0 0 13px;
}

.dd_p_text {
	width: 448px;
	height: 43px;
	line-height: 32px;
	font-size: 20px;
	color: #666666;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dd_p_time {
	width: 437px;
	height: 24px;
	line-height: 24px;
	text-align: left;
	color: #666666;
	font-size: 14px;
}

/*-----VR游戏推荐榜---*/
.news_right {
	width: 558px;
	height: 331px;
	float: left;
	padding-top: 16px;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
}

.mews_right_a {
	width: 558px;
	height: 262px;
	overflow: hidden;
	background: #000000;
}

.mews_right_a {
	display: block;
	width: 558px;
	height: 262px;
	position: relative;
	background: #000000;
}

.mews_right_a dl {
	position: relative;
	/*background: #000000;*/
}

.mews_right_a dt {
	height: auto;
	padding: 11px 20px;
	font-size: 20px;
	color: #FFFFFF;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 100;
}

.mews_right_a dl dd {
	display: block;
	width: 558px;
	height: 262px;
	position: relative;
	background: #000000;
}

.mews_right_a dd img {
	display: block;
	width: 558px;
	height: 262px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.mews_right_a dd:hover img {
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}

.fg_b {
	width: 558px;
	height: 262px;
	background: url(../images/bg_icon_fg_b.png) no-repeat left top;
	position: absolute;
	left: 0;
	top: 0;
}

.news_right_tabs {
	width: 558px;
	height: 48px;
	background: #333333;
}

.news_right_tabs li {
	float: left;
	width: 48px;
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	cursor: pointer;
}

.news_right_tabs li.spanColor {
	background: #FF9C00;
}
/*-----更多文章----*/
.btn_more {
	float: left;
	margin-top: 16px;
}

.dot {
	position: absolute;
	width: 100%;
	height: 30px;
	text-align: right;
	top: -45px;
	left: 0;
}

.dot p {
	margin-right: 10px;
	clear: both;
	height: 20px;
	float: right;
}

.dot b {
	float: left;
	width: 14px;
	height: 15px;
	line-height: 15px;
	background: url(../images/bg_cricle01.png) no-repeat left top;
	margin-right: 5px;
	cursor: pointer;
	font-size: 10px;
}

.dot b.cur {
	background: url(../images/bg_cricle02.png) no-repeat left top;
}

/*---精彩视频---*/
.video_list {
	width: 1200px;
	height: 645px;
	margin: 0 auto;
	line-height: 46px;
	padding-left: 29px;
	font-size: 18px;
}

.video_list .video_tit {
	width: 1000px;
	height: 53px;
	padding-left: 43px;
	line-height: 53px;
	font-size: 28px;
	margin-bottom: 28px;
	float: left;
	background: url(../images/video_bg.png) no-repeat 1px 13px;
}

.video_num {
	float: left;
	height: 228px;
}

.v_out_p {
	width: 1200px;
	height: 228px;
	position: relative;
	overflow: visible;
	margin-bottom: 36px;
}

.v_show {
	width: 1200px;
	height: 228px;
	position: relative;
	float: left;
	overflow: hidden;
}

.v_cont {
	width: 6650px;
	position: absolute;
	left: 0;
	top: 0;
}

.v_cont ul {
	float: left;
	text-align: center;
	line-height: 50px;
}

.v_cont ul li {
	width: 390px;
	height: 228px;
	margin-right: 10px;
	float: left;
	cursor: pointer;
}

.v_cont ul li a {
	display: block;
	width: 390px;
	height: 228px;
	overflow: hidden;
}

.video_cl_dl {
	width: 390px;
	height: 228px;
	margin-right: 10px;
	float: left;
	position: relative;
}

.video_cl_dt {
	width: 390px;
	height: 228px;
	position: relative;
}

.video_cl_dl .video_cl_dt img {
	display: block;
	width: 390px;
	height: 228px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.v_cont ul li a:hover img {
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}

.video_cl_dt .fg_b {
	width: 390px;
	height: 228px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/bg_icon_fg_b.png) no-repeat left top;
}

.video_fg {
	width: 64px;
	height: 64px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -32px;
	margin-top: -32px;
	background: url(../images/bg_play01.png) no-repeat left top;
}

.v_cont ul li a:hover .video_fg {
	background: url(../images/bg_play02.png) no-repeat left top;
}

.video_cl_dl dd {
	width: 390px;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	color: #FFFFFF;
	position: absolute;
	bottom: 0;
	left: 0;
}

.circle .circle-cur {
	background: url(../images/bg_cricle02.png) no-repeat left top;
}










